{% extends 'core/base.html' %}

{% block main_content %}{% spaceless %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">views</th>
      <th scope="col">pub_date</th>
      <th scope="col">author_id</th>
      <th scope="col">image</th>
      <th scope="col">genres</th>
      <th scope="col">tags</th>
    </tr>
  </thead>
  <tbody>
  	{% for book in books %}
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.views}}</td>
      <td>{{book.pub_date}}</td>
      <td><a href="{% url 'core:get_user_by_id' book.author_id %}">{{book.author_username}}</a></td>
      <td><img src="{{book.image}}" height="40px"></td>
      <td>
        {% for genre in book.genres %}
        <p><a href="{% url 'core:get_books_by_genre' genre.slug %}">{{genre.title}}</a></p>
        {% endfor %}
      </td>
      <td>
        {% for tag in book.tags %}
        <p><a href="{% url 'core:get_books_by_tag' tag.slug %}">{{tag.title}}</a></p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endspaceless %}{% endblock %}