<header style="height: 90px; width: 100%; background: grey;">
	<nav style="display: inline-block; text-align: center; width: 100%;">
		<a class="nav_link" href="{% url 'core:user_select' %}">user select</a>
		<a class="nav_link" href="{% url 'core:user_insert' %}">user insert</a>
		<a class="nav_link" href="{% url 'core:book_select' %}">book select</a>
		<a class="nav_link" href="{% url 'core:book_insert' %}">book insert</a>
		<a class="nav_link" href="{% url 'core:tag_select' %}">tag select</a>
		<a class="nav_link" href="{% url 'core:tag_insert' %}">tag insert</a>
		<a class="nav_link" href="{% url 'core:chapter_select' %}">chapter select</a>
		<a class="nav_link" href="{% url 'core:chapter_insert' %}">chapter insert</a>
	</nav>
</header>
<style type="text/css">
	
.nav_link{
	color: white;
	text-decoration: none;
	border: 1px solid black;
	padding: 10px;
	margin: 0px 20px;
}
.nav_link:hover{
	color: black;
}

header{
	padding-top: 30px;
}

</style>